* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


#aboutsec {
    height: 100vh;
    background-image: url(resources/bgAbout.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    color:white;
}
